body{
    background-image: url('orig.gif');
    background-size: cover;
  
}
h2{
	color: black;
	font-size: 40px;
	text-align: center;
}

#clock{
  font-family: 'Francois One', sans-serif;
color:rgb(0, 0, 0);
}
h3,h4{
  font-family: 'Francois One', sans-serif;
	color: black;
	text-align: center;
}

#units{
	font-family: 'Roboto', sans-serif;
	border: none;
	background: none;
	font-size: 20px;
	color:black;
}
#units:hover {
	cursor: pointer;
}


html { box-sizing: border-box; }
html *,
html *:before,
html *:after { box-sizing: inherit; }

body {
  max-width: 42em;
  padding: 2em;
  margin: 0 auto;
  color:red;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: currentColor;
}

h1 {
  margin-bottom: 1.375em;
  color:black;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
}
p,
a {
  color: black;
  font-size: small;
}
p { margin: 1.375rem 0; }

.icon {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;
  font-size: 1em; /* control icon size here */
}

@media screen and (max-width: width=600px){
.col-12{
    width:100%
}
}
